@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400;700&family=Roboto:ital,wght@0,300;0,400;1,100;1,300;1,400&display=swap");

:root {
  --header-height: 152px;
  --primary-color: rgb(23, 206, 95);
  --primary-background-color: white;
  --logo-size: 50px;
  --search-box-width: 588px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto Mono",
    monospace, "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
